@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.App {
    width: 1000px;
}
